/* HTML */

html {
    font-family: roboto;
}


/* Header */

header {
    position: fixed;
    display: inline;
    background-color: white;
    height: 64px;
    width: 100%;
    opacity: 1.0;
}

header .logo {
    display: inline;
    float: left;
    height: 48px;
    padding-top: 6px;
    padding-left: 24px;
    vertical-align: middle;
    opacity: 1.0;
}

header p {
    display: inline-block;
    /*margin: auto 0;*/
    font-family: poppins;
    font-size: 16px;
    font-weight: bold;
    /*vertical-align: middle;*/
    opacity: 1.0;
}

header #left-logo {
    display: inline;
    font-family: poppins;
    float: left;
    height: 32px;
    padding-bottom: 10px;
    /*padding-left: 24px;*/
    vertical-align: middle;
    opacity: 1.0;
}

header #right-logo {
    display: inline;
    font-family: poppins;
    color: gray;
    float: right;
    height: 32px;
    padding-bottom: 10px;
    padding-right: 24px;
    vertical-align: middle;
    opacity: 1.0;
}

nav {
    float: right;
    padding-right: 24px;
    vertical-align: middle;
    opacity: 1.0;
}

li {
    display: inline;
    padding-left: 16px; 
    opacity: 1.0;   
  }


  /* Introductory Section*/

    .intro {
        display: inline-flex;
        height: auto;
        width: 100%;
        background-color: #f2f2f2;
        padding-top: 64px;
        /*padding-bottom: 64px;*/
        opacity: 1.0;
    }

    .intro #intro-photo {
        float: left;
        width: 60%;
        padding-top: 32px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 32px;
        opacity: 1.0;
    }

    .intro .intro-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 24px;
        width: 30%
    }

    .intro h1 {
        font-family: roboto;
        font-size: 48px;
        font-weight: bold;
        color: #333333;
        opacity: 1.0;
        padding: 0 0 0 0;
    }

    .intro p {
        font-family: roboto;
        font-size: 24px;
        color: #333333;
        opacity: 1.0;
        /*padding-top: 2%;*/
    }

    .intro button {
        background-color: #333333;
        color: white;
        font-family: roboto;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        opacity: 1.0;
    }

    /* Basic Information Section*/

    .basic-info {
        display: inline-flex;
        height: auto;
        width: 100%;
        background-color: white;
        padding-top: 32px;
        padding-bottom: 32px;
        opacity: 1.0;
    }

    .basic-info-left {
        float: left;
        width: 60%;
        padding-left: 24px;
        /*padding-right: 24px;*/
        padding-bottom: 32px;
        opacity: 1.0;
    }

    #basic-info-photo {
        float: left;
        width: 100%;
        padding-bottom: 32px;
        opacity: 1.0;
    }

    .basic-info-left p {
        padding-bottom: 32px;
    }

    .basic-info-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 24px;
        width: 40%
        padding-top: 32px;
    }

    .stuff {
        display: inline-flex;
        height: auto;
        width: 100%;
        background-color: #f2f2f2;
        padding-top: 8px;
        padding-bottom: 8px;
        opacity: 1.0;
    }

    .stuff .stuff-photo {
        float: left;
        height: auto;
        width: 35%;
        padding-left: 16px;

    }

    .stuff .stuff-text {
        display: flex;
        flex-direction: column;
        width: 65%;
        padding-left: 16px;
        justify-content: center;
    }

    .stuff h3 {
        padding: 0 0 0 0;
    }


    /* Start Learning Section*/

.start-learning {
    height: auto;
    width: 100%;
    background-color: #f2f2f2;
    padding-top: 32px;
    padding-right: 40px;
    opacity: 1.0;
}

.start-learning h2 {
    font-family: roboto;
    font-size: 48px;
    font-weight: bold;
    color: #333333;
    opacity: 1.0;
    text-align: center;
    padding-bottom: 32px;
}

.courses-1 {
    display: inline-flex;
    height: auto;
    /*max-width: 33%;*/
    background-color: #f2f2f2;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 72px;
    opacity: 1.0;
    flex: auto;
    flex-wrap: wrap;
}

.courses-2 {
    display: inline-flex;
    height: auto;
    /*max-width: 100px;*/
    background-color: #f2f2f2;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 72px;
    opacity: 1.0;
    flex: auto;
    flex-wrap: wrap;
}

.course-photo {
    height: auto;
    /*max-width: 100%;*/
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 16px;  
}

.start-learning .course-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 100%;
    padding-bottom: 24px;
}

.start-learning h3 {
    font-weight: bold;
}

.start-learning p {
    padding-top: 8px;
}